{
    "env": {
        "jest": true,
        "jasmine": true
    },
    "rules": {
        "jest/prefer-todo": "off",
        "jest/no-disabled-tests": "off",
        "jest/no-jasmine-globals": "off"
    }
}
